#dynamicClass {
/* this is the dynamic class id via material ui */
   }

#headerName {
    /* margin-left: 3vh; */
}

#logos > * {
   /* margin-left: 5%;  */
   /* margin-right: 5%; */

}

#createClassCard {
    /* background-color: rgba(173, 216, 230, 0.3); */
    border-radius: 25%;
    border-style: dashed;
    border-width: 0.75vh;
    border-color: rgba(173,216,255, 0.4);
}
/* gets rid of ugly click ripple */
a {
    color: #000;
  }
  a:hover{
     color: #4f7341;
  }
  